<li>
	{{burgername}}

	<button class="eatit" data-id="{{id}}" data-newdev="{{devoured}}">
		{{#if devoured}}EAT IT!{{else}}DISCHARGE!{{/if}}
	</button>
    <button class="deleteit" data-id="{{id}}">
       REMOVE BURGER!
    </button>
</li>